
.Login {
    width:100%;
    max-width: var(--app-max-page-content-width);
    --app-radio-size: calc(var(--app-max-page-content-width) / 2);
}
.Login sl-button {
    width:100%;
    margin-top:20px;
}
sl-radio-button {
    width: calc(50vw - var(--app-content-padding));
    max-width:calc(var(--app-radio-size));
}
.LoginSMS {
   margin-top:50px; 
}
.validity-styles sl-input, .validity-styles sl-select, .validity-styles sl-checkbox {
    display: block;
    margin-bottom: var(--sl-spacing-medium);
}

/* user invalid styles */
.validity-styles sl-input[data-user-invalid]::part(base), .validity-styles sl-select[data-user-invalid]::part(combobox), .validity-styles sl-checkbox[data-user-invalid]::part(control) {
    border-color: var(--sl-color-danger-600);
}
.validity-styles [data-user-invalid]::part(form-control-label), .validity-styles [data-user-invalid]::part(input), .validity-styles [data-user-invalid]::part(form-control-help-text), .validity-styles sl-checkbox[data-user-invalid]::part(label) {
    color: var(--sl-color-danger-700);
}

.validity-styles sl-checkbox[data-user-invalid]::part(control) {
    outline: none;
}

.validity-styles sl-input:focus-within[data-user-invalid]::part(base), .validity-styles sl-select:focus-within[data-user-invalid]::part(combobox), .validity-styles sl-checkbox:focus-within[data-user-invalid]::part(control) {
    border-color: var(--sl-color-danger-600);
    box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
.validity-styles sl-input[data-user-valid]::part(base), .validity-styles sl-select[data-user-valid]::part(combobox), .validity-styles sl-checkbox[data-user-valid]::part(control) {
    border-color: var(--sl-color-success-600);
    color:var(--sl-color-success-700);
}

.validity-styles [data-user-valid]::part(form-control-label), .validity-styles [data-user-valid]::part(input), .validity-styles [data-user-valid]::part(form-control-help-text), .validity-styles sl-checkbox[data-user-valid]::part(label) {
    color: var(--sl-color-success-700);
}

.validity-styles sl-checkbox[data-user-valid]::part(control) {
    background-color: var(--sl-color-success-600);
    outline: none;
}
.validity-styles sl-input:focus-within[data-user-valid]::part(base), .validity-styles sl-select:focus-within[data-user-valid]::part(combobox), .validity-styles sl-checkbox:focus-within[data-user-valid]::part(control) {
    border-color: var(--sl-color-success-600);
    box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-success-300);
}