
h2 {
    font-size:1.5rem;
}

.Intro {
    white-space: normal;
    max-width:var(--app-max-page-content-width);
    min-width:300px;
}
.Intro p {
    display:flex;
    align-items: center;
    margin:auto;
    padding:10px;
}
p.line {
    color:var(--sl-color-primary-600);
    font-size:1.2rem;

}
.Intro span {
    margin-left:20px;
}
.Heading {
    text-align: center;
}
.t {
    font-size:1.5rem;
}
sl-button {
    margin-top:30px;
}
sl-qr-code {
    margin-top:30px;
}

