
h2 {
    font-size:1.5rem;
}

.Intro {
    white-space: normal;
    max-width:var(--app-max-page-content-width);
    min-width:300px;
    
}
.Heading {
    text-align: center;
    margin-bottom:10px;
}
sl-button {
    margin-top:30px;
}

