.App {
  text-align: center;
}
.chide :not(:defined) {
  visibility: hidden;
}
.chide {
  opacity: 0;
}

.header {
  background-color: var(--app-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--app-color);
  opacity:0;
}


